body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, rgba(158, 205, 225, 1.0), rgba(24, 185, 156, 1.0));
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier New, Courier, monospace;
}

.particles {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.center {
    display: flex;
    justify-content: center;
}
footer {
    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
    
    bottom:0;
    box-shadow: 0 0 2rem gray;


    

}